@font-face {
    font-family: 'noto-regular';
    src: url('./src/assets/font/Noto_Sans/NotoSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'noto-bold';
    src: url('./src//assets/font/Noto_Sans/NotoSans-Bold.ttf') format('truetype');
}
*, body {
    padding: 0;
    margin: 0;
}
html {
    font-size: 14px;
}
body {
    font-family: 'noto-regular';
    color: #333;
    background-color: red;
}